adjustText==0.7.3
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
alembic==1.8.1
altair==4.2.0
anaconda-client @ file:///home/conda/feedstock_root/build_artifacts/anaconda-client_1632453752331/work
anaconda-navigator==2.3.2
anaconda-project @ file:///home/conda/feedstock_root/build_artifacts/anaconda-project_1660066847501/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1666191106763/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1649500465986/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1662382474514/work
astroid @ file:///D:/bld/astroid_1666721252912/work
astropy @ file:///D:/bld/astropy_1617305705764/work
async-generator==1.10
async-timeout==4.0.2
asyncer==0.0.1
asynctest==0.13.0
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1657325823582/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
Automat==20.2.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1635267974115/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1655419414885/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.zoneinfo==0.2.1
bcrypt @ file:///D:/bld/bcrypt_1651441752302/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
binaryornot==0.4.4
bitarray @ file:///D:/bld/bitarray_1658234689891/work
bkcharts==0.2
black @ file:///D:/bld/black-recipe_1666773212970/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1656355450470/work
blinker==1.5
blis==0.7.9
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1660586590972/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1667029685292/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1667007576566/work
Bottleneck @ file:///D:/bld/bottleneck_1656803876399/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1650311966802/work
brotlipy @ file:///D:/bld/brotlipy_1648854404735/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.2.0
cairocffi==1.4.0
CairoSVG==2.5.2
catalogue==2.0.8
certifi==2022.9.24
certipy==0.1.3
cffi @ file:///D:/bld/cffi_1666183927951/work
cfgv==3.3.1
chardet @ file:///D:/bld/chardet_1656142147356/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///D:/bld/click_1651215331061/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1662587369221/work
clyent==1.2.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorcet @ file:///home/conda/feedstock_root/build_artifacts/colorcet_1664843244467/work
coloredlogs==15.0.1
commonmark==0.9.1
comtypes==1.1.14
conda==22.9.0
conda-build==3.22.0
conda-content-trust @ file:///home/conda/feedstock_root/build_artifacts/conda-content-trust_1621370699668/work
conda-pack @ file:///home/conda/feedstock_root/build_artifacts/conda-pack_1642622318035/work
conda-package-handling @ file:///D:/bld/conda-package-handling_1663583754501/work
conda-repo-cli==1.0.20
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify @ file:///D:/bld/conda-verify_1635878870588/work
confection==0.0.3
constantly==15.1.0
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/cookiecutter_1654122127219/work
countryinfo==0.1.2
cryptography @ file:///D:/bld/cryptography_1666563541829/work
cssselect @ file:///home/conda/feedstock_root/build_artifacts/cssselect_1666980406338/work
cssselect2==0.7.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem==2.0.7
Cython @ file:///D:/bld/cython_1659102065258/work
cytoolz @ file:///D:/bld/cytoolz_1657553564801/work
daal4py==2021.6.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1624381896452/work
datashader @ file:///home/conda/feedstock_root/build_artifacts/datashader_1660146792894/work
datashape==0.5.4
debugpy @ file:///D:/bld/debugpy_1660619187469/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1666603105584/work
distlib==0.3.4
distributed @ file:///D:/bld/distributed_1624400768106/work
dmba==0.0.12
docopt==0.6.2
docutils @ file:///D:/bld/docutils_1657104372158/work
dowhy @ file:///home/conda/feedstock_root/build_artifacts/dowhy_1658229281487/work
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.0.1
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1666864795589/work
factor-analyzer==0.4.1
fastapi==0.80.0
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1663619548554/work/dist
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1660129891014/work
filetype==1.1.0
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1646781084538/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1660054669620/work
flatbuffers==22.10.26
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1665185302619/work
fonttools @ file:///D:/bld/fonttools_1666390069478/work
frozenlist==1.3.1
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1666202183098/work
future @ file:///D:/bld/future_1649010380983/work
gdown==4.5.1
gensim @ file:///D:/bld/gensim_1653483350245/work
gitdb==4.0.9
GitPython==3.1.29
glob2==0.7
gower==0.0.5
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1658658635601/work
greenlet @ file:///D:/bld/greenlet_1661444189601/work
h11==0.14.0
h5py @ file:///D:/bld/h5py_1660488229817/work
HeapDict==1.0.1
holoviews @ file:///home/conda/feedstock_root/build_artifacts/holoviews_1664918800005/work
htmlmin==0.1.12
humanfriendly==10.0
hvplot @ file:///home/conda/feedstock_root/build_artifacts/hvplot_1661540314255/work
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
identify==2.5.9
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imagecodecs==2021.11.20
imagecodecs-lite @ file:///D:/bld/imagecodecs-lite_1665171421509/work
ImageHash==4.2.1
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1663572338894/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
imbalanced-learn @ file:///home/conda/feedstock_root/build_artifacts/imbalanced-learn_1613662486985/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1622064284883/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1665204935269/work
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1665859450441/work
inflection @ file:///home/conda/feedstock_root/build_artifacts/inflection_1598089801258/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
intake @ file:///home/conda/feedstock_root/build_artifacts/intake_1661550936108/work
intervaltree==3.0.2
ipykernel @ file:///D:/bld/ipykernel_1666723449132/work
ipyparallel==8.4.1
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1662482321563/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1659518105741/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1661796597649/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
jdcal==1.4.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1659959867326/work
jellyfish @ file:///D:/bld/jellyfish_1649404921746/work
Jinja2==3.1.2
jinja2-time @ file:///home/conda/feedstock_root/build_artifacts/jinja2-time_1646750632133/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1662736858348/work
jupyter==1.0.0
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1655961255101/work
jupyter-contrib-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_contrib_core_1657548529421/work
jupyter-contrib-nbextensions @ file:///home/conda/feedstock_root/build_artifacts/jupyter_contrib_nbextensions_1614931162960/work
jupyter-highlight-selected-word @ file:///D:/bld/jupyter_highlight_selected_word_1638383146133/work
jupyter-latex-envs @ file:///home/conda/feedstock_root/build_artifacts/jupyter_latex_envs_1614852190293/work
jupyter-nbextensions-configurator @ file:///D:/bld/jupyter_nbextensions_configurator_1611341300533/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1665524049375/work
jupyter-telemetry==0.1.0
jupyter_client==7.4.1
jupyter_core==4.11.2
jupyterhub==3.0.0
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1666613090338/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1662157840858/work
jupyterlab_server @ file:///C:/ci/jupyterlab_server_1664911417714/work
keyring @ file:///D:/bld/keyring_1654716202452/work
kiwisolver @ file:///D:/bld/kiwisolver_1657953189205/work
langcodes==3.3.0
lazy-object-proxy @ file:///D:/bld/lazy-object-proxy_1649033417292/work
libarchive-c @ file:///D:/bld/python-libarchive-c_1649436165782/work
llvmlite==0.39.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lxml @ file:///D:/bld/lxml_1656759479892/work
Mako==1.2.3
Markdown @ file:///C:/ci/markdown_1614364005059/work
MarkupSafe @ file:///D:/bld/markupsafe_1648737728033/work
matplotlib @ file:///D:/bld/matplotlib-suite_1659031669602/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mccabe==0.6.1
menuinst @ file:///D:/bld/menuinst_1660766833926/work
missingno==0.5.1
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1657892024508/work
mkl-service==2.4.0
mlxtend==0.17.3
mord==0.6
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
msgpack @ file:///D:/bld/msgpack-python_1654260841803/work
multidict==6.0.2
multimethod==1.9
multipledispatch==0.6.0
munkres==1.1.4
murmurhash==1.0.9
mypy-extensions @ file:///D:/bld/mypy_extensions_1649013497049/work
navigator-updater==0.3.0
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1666301050419/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1665125402713/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1666919260239/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1665426034066/work
nbstripout==0.3.9
neattext==0.1.3
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1635253012265/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1640748215808/work
nodeenv==1.7.0
nose @ file:///home/conda/feedstock_root/build_artifacts/nose_1602434998960/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1654636967533/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1666077752553/work
numba @ file:///D:/bld/numba_1665771592513/work
numexpr @ file:///D:/bld/numexpr_1614971616441/work
numpy @ file:///D:/bld/numpy_1649806536290/work
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1665273484262/work
oauthlib==3.2.2
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
onnxruntime==1.12.1
opencv-python-headless==4.6.0.66
openpyxl==3.0.10
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///D:/bld/pandas_1639398349358/work
pandas-bokeh==0.5
pandas-profiling==3.4.0
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
panel @ file:///home/conda/feedstock_root/build_artifacts/panel_1665053353820/work
param @ file:///home/conda/feedstock_root/build_artifacts/param_1655892834767/work
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1652792654356/work
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1660316728562/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1662130653746/work
pathy==0.10.1
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pep8==1.7.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
phik==0.12.2
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1660386017560/work
pipreq==0.4
pipreqs==0.4.11
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1654782790443/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1657729053205/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1660480772389/work
pluggy @ file:///D:/bld/pluggy_1648772784311/work
ply==3.11
pre-commit==2.20.0
preshed==3.0.8
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1665692535292/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1662384672173/work
Protego @ file:///home/conda/feedstock_root/build_artifacts/protego_1647348122707/work
protobuf==3.20.3
psutil @ file:///D:/bld/psutil_1666155596250/work
psycopg2==2.9.3
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
py-avataaars==1.1.2
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pycosat @ file:///D:/bld/pycosat_1666657126217/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyct==0.4.6
pycurl==7.45.1
pydantic==1.10.2
pydeck==0.8.0b4
PyDispatcher==2.0.5
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1621377123289/work
pydot @ file:///D:/bld/pydot_1654961443718/work
pydotplus==2.0.2
pyerfa @ file:///D:/bld/pyerfa_1649586284109/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1633634815271/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1660666458521/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1666240235902/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1666723133148/work
pyls-spyder @ file:///home/conda/feedstock_root/build_artifacts/pyls-spyder_1619747398504/work
PyMatting==1.1.8
Pympler==1.0.1
PyNaCl @ file:///D:/bld/pynacl_1649520133445/work
pyodbc @ file:///D:/bld/pyodbc_1658462027416/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyphen==0.13.2
PyQt5==5.15.7
PyQt5-sip @ file:///D:/bld/pyqt-split_1657234624505/work/pyqt_sip
PyQtWebEngine==5.15.4
pyreadline==2.1
pyrsistent @ file:///D:/bld/pyrsistent_1649013563648/work
PySocks @ file:///D:/bld/pysocks_1648857448477/work
pytest==7.2.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger==2.0.4
python-lsp-black @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-black_1649795569828/work
python-lsp-jsonrpc @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-jsonrpc_1618530352985/work
python-lsp-server @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-server-meta_1664808313438/work
python-multipart==0.0.5
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1651150815876/work
pytoolconfig @ file:///home/conda/feedstock_root/build_artifacts/pytoolconfig_1659322367429/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1666198565857/work
pytz-deprecation-shim==0.1.0.post0
pyviz-comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1661341338467/work
PyWavelets @ file:///D:/bld/pywavelets_1649616556601/work
pywin32==303
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1648607915107/work
pywinpty @ file:///D:/bld/pywinpty_1663342430705/work/target/wheels/pywinpty-2.0.8-cp37-none-win_amd64.whl
PyYAML @ file:///D:/bld/pyyaml_1648757357341/work
pyzmq @ file:///D:/bld/pyzmq_1663830622471/work
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1638323533455/work
qstylizer @ file:///home/conda/feedstock_root/build_artifacts/qstylizer_1662244505808/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1666638781418/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1661698361365/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1664834420615/work
queuelib @ file:///home/conda/feedstock_root/build_artifacts/queuelib_1629994290383/work
rake-nltk==1.0.4
regex @ file:///D:/bld/regex_1663068512405/work
rembg==2.0.25
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-file @ file:///home/conda/feedstock_root/build_artifacts/requests-file_1591227832914/work
rich==12.6.0
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1666381937127/work
Rtree @ file:///D:/bld/rtree_1665582789224/work
ruamel-yaml-conda @ file:///D:/bld/ruamel_yaml_1653464630703/work
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1654039987929/work
scikit-image @ file:///D:/bld/scikit-image_1660146603458/work
scikit-learn @ file:///D:/bld/scikit-learn_1640464434301/work
scikit-learn-intelex==2021.20220920.101131
scikit-surprise==1.1.3
scipy @ file:///C:/bld/scipy_1637806996411/work
Scrapy @ file:///D:/bld/scrapy_1666169247083/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1666117478708/work
semver==2.13.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
service-identity==18.1.0
sip @ file:///D:/bld/sip_1655765020398/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1663137800976/work
smmap==5.0.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
sortedcollections @ file:///home/conda/feedstock_root/build_artifacts/sortedcollections_1611011426343/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spacy==3.4.3
spacy-legacy==3.0.10
spacy-loggers==1.0.4
Sphinx==1.8.5
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1649380998999/work
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1636966052463/work
spyder @ file:///D:/bld/spyder_1661879463270/work
spyder-kernels @ file:///D:/bld/spyder-kernels_1661698681033/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1665944459413/work
srsly==2.4.5
starlette==0.19.1
statsmodels @ file:///D:/bld/statsmodels_1654787262041/work
streamlit==1.16.0
superset==0.30.1
sympy @ file:///D:/bld/sympy_1661297170144/work
tables==3.7.0
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tangled-up-in-unicode==0.2.0
TBB==0.2
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1663807083684/work
terminado @ file:///D:/bld/terminado_1666707934477/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1645693042223/work
text-unidecode==1.3
textdistance @ file:///home/conda/feedstock_root/build_artifacts/textdistance_1663527496115/work
textstat==0.7.3
thinc==8.1.5
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
three-merge @ file:///home/conda/feedstock_root/build_artifacts/three-merge_1595515817927/work
tifffile==2019.7.26.2
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1664943488272/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1666864188602/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///D:/bld/tornado_1656937938087/work
tqdm==4.64.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1666115969632/work
Twisted @ file:///D:/bld/twisted_1662643628591/work
twisted-iocpsupport @ file:///D:/bld/twisted-iocpsupport_1649418011038/work
typed-ast @ file:///D:/bld/typed-ast_1653226245111/work
typer==0.7.0
typing_extensions==4.1.1
tzdata==2022.5
tzlocal==4.2
ujson @ file:///D:/bld/ujson_1663334667748/work
unicodedata2 @ file:///D:/bld/unicodedata2_1649112131705/work
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1664588179651/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
uvicorn==0.18.3
validators==0.20.0
virtualenv==20.14.1
visions==0.7.5
voila==0.4.0
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1591173357158/work
wasabi==0.10.1
watchdog @ file:///D:/bld/watchdog_1654901200656/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1662334000707/work
websockets==10.4
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1660053523487/work
wget==3.2
whatthepatch @ file:///home/conda/feedstock_root/build_artifacts/whatthepatch_1657393321074/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1662157836868/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
win-unicode-console @ file:///D:/bld/win_unicode_console_1636286544550/work
wrapt @ file:///D:/bld/wrapt_1651495480725/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1639125986756/work
xgboost==1.6.2
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1645975313810/work
xlwings @ file:///D:/bld/xlwings_1663529272204/work
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1641487982943/work
yarg==0.1.9
yarl==1.8.1
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1651156074437/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1666647772197/work
zope.interface @ file:///D:/bld/zope.interface_1665399139554/work
